keras
tensorflow
pandas
numpy
h5py
statistics
opencv-contrib-python
matplotlib
Pillow
click
enum-compat
enum34
eventlet
Flask
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
waitress
itsdangerous
Jinja2
MarkupSafe
olefile
python-engineio
python-socketio
redis
six
Werkzeug